# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# WandB
# =========================
wandb/

# =========================
# Training artifacts
# =========================
checkpoints/
checkpoints_single_uav/
checkpoints_realistic/
checkpoints*/
eval_frames*/

# =========================
# Model weights
# =========================
*.pth
*.pt
*.ckpt
*.pkl

# =========================
# Videos / media
# =========================
*.mp4
*.avi
*.mov
*.gif

# =========================
# Logs / data
# =========================
*.csv
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/